NEXT_PUBLIC_SITE_URL=http://localhost:3000

RESEND_API_KEY=
RESEND_FROM_EMAIL=concierge@hacococapital.com
RESEND_CAPITAL_TO=advisory@hacococapital.com
RESEND_INVESTOR_TO=shiv@hacococapital.com
RESEND_ADVISORY_TO=shiv@hacocoadvisory.com

GOOGLE_SHEETS_WEBHOOK_URL=

NEXT_PUBLIC_GA4_ID=
NEXT_PUBLIC_GOOGLE_ADS_ID=
NEXT_PUBLIC_META_PIXEL_ID=
